.pgPedido{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0, 0, 0);
    height: 100vh;
    position: relative;
    gap: 5%;
}

.infogerais{
    margin-top: 1%;
    width: 95%;
    height: 50%;
    display: flex;
    justify-content: center;
}
    .buid{
        background: rgba(255, 255, 255, 0.493);
        width: 30%;
        height: 95%;
        margin-top: .5%;
        margin-left: .5%;
        border-radius: 20px;
        box-shadow: 1px 1px 10px rgb(255, 1, 1);
        position: relative;
    }
        .Bota, .peitoral, .cabeca{
            left: 39%;
            position: absolute;
            width: 25%; 
            min-height: 22%; 
        }
        .peitoral img, .Bota img, .cabeca img, .OffHand img,  .MainHand img, .Capa img, .Bolsa img{
            width: 100%;  
            height: auto; 
        }
        .cabeca {
            top: 2%;            
        }
        .peitoral{
            top: 34%;            
        }
        .Bota{
            top: 66%;            
        }
        .OffHand,  .MainHand{
            position: absolute;
            width: 25%; 
            min-height: 22%;
            top: 34%;
        }
        .MainHand{            
            left: 13%; 
        }
        .OffHand{
            left: 65%;
        }
        .Capa, .Bolsa{
            position: absolute;
            width: 25%;
            top: 2%;                     
        }
        .Capa{
            left: 65%; 
        }
        .Bolsa{
            left: 13%;
        }
           
            
.dadosPedidos{
    background-color: rgba(255, 255, 255, 0.493);
    width: 95%;
    height: 40%;
    border: solid 1px rgba(173, 0, 0, 0.507);
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(255, 0, 0, 0.836);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 20px;
}
    .span-Pendente{
        color: red;
    }
    .span-Finalizado{
        color: rgb(33, 148, 23);
    }
    .divDados{
        padding-left: 5px;
    }
    .divProgrecao{
        width: 72%;
    }